.head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    

}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    justify-content:space-around;
    background-color:#ffc6ff;
}

#stockinfo{
    width:100%;
    background-color:#bdb2ff;
    display: flex;
    flex-direction: column;
    
}
#trading{
    display: flex;
    flex-direction: column;
    width:100%;
}

#contral{
    background-color: #a0c4ff;

}

#news{
    width:100%;
    background-color:#9bf6ff;
    display: flex;
    flex-direction: column;

}

#Bestsuitourmethord{
    border-style: dotted solid;
    border-color: #caffbf;
    border-width: thin;
    transition: width 2s;
}

#Highestreturn{
    border-style: dotted solid;
    border-color: #9bf6ff;
    border-width: thin;
    transition: width 2s;
}

#stockrecommanded{
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width:50%;
}

.intro{
    font-style: italic;
    text-align-last: center;
}