.head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    justify-content:space-around;
    background-color: pink;
}

#stockinfo{
    width:100%;
    background-color:skyblue;
    display: flex;
    flex-direction: column;
}
#trading{
    display: flex;
    flex-direction: column;
    width:100%;
}

#contral{
    background-color: green;

}

#news{
    width:100%;
    background-color:yellow;
    display: flex;
    flex-direction: column;

}